/*
Declaration des polices
*/

@font-face {
    font-family: 'Title';
    src: url('BigNoodles.ttf');
}

@font-face {
    font-family: 'Text';
    src: url('Roboto.ttf');
}

/*
Decoupage du site avec grid
*/

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: ". . bulltozer . account" ". interactions interactions interactions ." ". interactions interactions interactions ." ". interactions interactions interactions  .";
}

.interactions {
    grid-area: interactions;
}

.interactions button {
    display: initial;
}

.bulltozer {
    grid-area: bulltozer;
}

.account {
    grid-area: account;
}

/*
Style general (body, titre, table, etc...)
*/

body {
    font-family: 'Text';
    text-align: center;
    font-size: large;
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Title';
}

table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    border-collapse: separate;
    border: 1px solid #000;
    border-radius: 5px;
}

textarea {
    font-family: 'Text';
    font-size: large;
    font-weight: bold;
    text-align:center;
    display: block;
    min-width:35em;
    min-height:3em;
}

/*
Gestion des tableaux et formulaire
*/

td {
    border: 1px solid #000;
    padding: 5px;
    min-width: 20em;
    text-align: left;
    border-radius: 2px;
}

input {
    display: block;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

label {
    display: block;
    min-width: 5em;
    line-height: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

button {
    display: block;
    min-width: 12em;
    min-height: 3em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    background: white;
    border-radius: 5px;
    border: 1px solid #c0c0c0;
    transition: all 0.4s ease 0s;
}

input[type="submit"] {
    display: block;
    min-width: 9em;
    min-height: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    background: white;
    border-radius: 5px;
    border: 1px solid #c0c0c0;
    transition: all 0.4s ease 0s;
}

input[type="text"], input[type="email"], input[type="password"] {
    margin-top: 1em;
    margin-bottom: 1em;
    min-height: 2em;
    min-width: 20em;
}

input[type="radio"] {
    /*On ajoute 2.5 de chaque cote*/
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}


select{
    display:block;
    height:2em;
    margin-top: 1em;
    margin-bottom: 1em;
}

button:hover {
    background: #c0c0c0;
    transition: all 0.4s ease 0s;
}

input[type="submit"]:hover {
    background: #c0c0c0;
    transition: all 0.4s ease 0s;
}

button:active {
    border: 1px solid #c0c0c0;
}

input[type="submit"]:active {
    border: 1px solid #c0c0c0;
}

.labelClass {
    float: left;
    margin-left:1em;
    height:100%;
}

.inputClass {
    float: right;
    margin-right: 3em;
}

/*
Toutes les id et classes un peu bizarre
*/

#accountButton {
    margin-bottom: 0.5em;
}

#nomPasVote {
    text-align: center;
}

#formulaire {
    border: null;
}

.inputCentre {
    margin-left: auto;
    margin-right: auto;
}